@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 248, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  margin: 50px 10%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    margin: 20px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
